*{
    margin: 0;
}


.body{
   background-color: #8390fa;
    color: #1d2f6f;
    font-family: 'roboto', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;   
}



.header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.timma{
    font-weight: 200;
    ;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: #1d2f6f;
}

a:hover{
    color: #fac748;
    transition: 0.3s all;
}

#main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 35px;
    line-height: 10px;
    padding: 10px;
}

span{
    color: #fac748;
}
 
h3{
    color: #1d2f6f;
    font-size: 25px;
    padding: 10px;
}
p{
    line-height: 20px;
    max-width: 500px; 
    padding: 10px;
}

img{
    width: 560px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.form-content input{
    display: block;
    width: 100%;
    border: 2px solid #dfdfdf;

}

.form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
}

button{
    height: 50px;
    width: 50%;
    background-color: #fac748;
    color: white;
    align-items: center;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 14px;
}



input{
    margin-top: 18px;
    height: 20px;
    padding: 9px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    
}

.form-content.error input{
    border-color: #ff3b25;
}

.form-content.error a{
    border-color: #ff3b25;
    visibility: visible;
}

#rodape{
   
    height: 50px;
    display: flex;
    align-items: center;
    max-width: 1500px;
    padding: 10px;

}

.links{
    color: #fff;
    text-decoration: none;
}
.lista-rodape li{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: left;
    margin-left: 0px;

}
